/* https://coolors.co/image-picker
CSS HEX 
--lapis-lazuli: #0B6191ff;
--picton-blue: #47A7D2ff;
--non-photo-blue: #AAE5FAff;
--pale-azure: #82D4F5ff;
--prussian-blue: #012538ff;*/
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #0b3d1c;
  background-size: cover;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #e8f5e9;
  height: 40vh;
}
header h2 {
  margin-top: 10vh;
  font-size: 10vh;
  text-shadow: 3px 3px #2e7d32;
}
header h4 {
  margin-top: 1vh;
  font-size: 5vh;
  text-shadow: 2px 2px #2e7d32;
  float: right;
}
header h4 a {
  color: #dcedc8;
}

/* Navigation */
nav {
  background: #114628;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #163c2f;
  border: 1px solid #81c784;
  display: flex;
  justify-content: center;
}
nav ul li {
  text-align: center;
  border: 1px solid #1b5e20;
  width: 16.6%;
}
nav ul li a {
  display: block;
  color: #c8e6c9;
  padding: 8px 16px;
  text-decoration: none;
}
nav ul li a.active {
  background-color: #4caf50;
  color: white;
}
nav ul li a:hover:not(.active) {
  background-color: #2e7d32;
  color: white;
}

/* Article section */
article {
  padding: 20px;
  background-color: #102a1b;
  display: table;
  width: 100%;
}
article h2 {
  margin: 3vh;
}
article img {
  width: 100%;
}

article {
  color: #c8e6c9;
}

.myImage {
  width: 100%;
  height: auto;
  border: 2px solid #012538;
  box-shadow: 5px 5px 10px #012538;
  border: 3px solid #D35100;
}

.fila {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.columna {
  width: 33.3%;
  display: table;
  padding: 2vw;
}

/* Footer */
footer {
  background-color: #163c2f;
  padding: 10px;
  text-align: center;
  color: #e8f5e9;
  height: 7vw;
}

fieldset {
  margin-top: 10px;
  box-shadow: 3px 5px 4px 5px #012538;
}

/* Responsive design */
@media (max-width: 600px) {
  header {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #AAE5FA;
    height: 20vh;
  }

  header h2 {
    margin-top: 3vh;
    font-size: 15vh;
    text-shadow: 1px 1px #012538;
  }

  header h4 {
    margin-top: 1vh;
    font-size: 5vh;
    text-shadow: 1px 1px #385e72;
  }
  
}